*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body{
    background-image: url("./fonts/Math.jpg");
    margin: 0;
}

.comtainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{
    width: 400px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: 130px repeat(6,80px);
    justify-content: center;
    border-radius: 35px;
    padding-top: 20px;
    box-shadow: 12px 12px 12px -5px rgb(58, 58, 58);
    
}

.calculadora button{
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 32%;
    margin: 5px;
    box-shadow: 5px 5px 10px -3px rgb(179, 177, 177);
    padding: 0;
}

.calculadora button:hover{
    background-color: rgb(71, 70, 71);
    font: white;
}

.display{
    height: 120px;
    background-color: #5c6980;
    box-shadow: 5px 5px 10px -3px rgb(168, 167, 167);
    opacity: .7;
    grid-column: 1/-1;
    border-radius: 32px ;
    text-align: end;
    padding: 16px;
    justify-content: space-between;
    word-break: break-all;
}

.color{
    background-color: rgb(240, 163, 21);

}

.button2{
    background-color: rgb(161, 188, 212);
}

.span2 {
    grid-row: span 2;
    background-color: rgb(240, 163, 21);
}

.span3 {
    grid-column: span 2;
}

#valor-anterior{
    color: white;
    font-size: 1.5rem;

}

#valor-actual{
    color: white;
    font-size: 2rem;
}

